<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.mthli.Tweetin"
          android:versionCode="1"
          android:versionName="0.9.1">

    <!-- SDK -->
    <uses-sdk android:minSdkVersion="16" />

    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--Application -->
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:largeHeap="true">

        <!-- SplashActivity -->
        <activity android:name=".Splash.SplashActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher"
                  android:theme="@style/SplashActivityTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TimelineActivity -->
        <activity android:name=".Timeline.TimelineActivity"
                  android:label="@string/app_name"
                  android:theme="@style/TimelineActivityTheme"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

    </application>
</manifest>
